.right {
    float: right;
}

.left {
    float: left;
}

.main {
    max-width: 500px;
    max-height: 200px;
    margin: auto;
    border: 1px solid black;
}

.inputs {
    float: top;
    border: 1px solid red;
}

.radios {
    float: top;
    border: 1px solid blue;
}

.buttons {
    float: top;
    border: 1px solid green;
}

#result {
    float: top;
    boarder: 1px solid purple;
}